In [2]:
import pandas as pd
df = pd.read_csv("data/Library_Usage.csv",low_memory=False)
df.head()

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,Senior,5,0,75 years and over,Main,Nov,2022,Email,True,2015,False
1,Adult,0,0,45 to 54 years,Main,Jul,2023,Email,True,2019,False
2,Adult,0,0,55 to 59 years,Western Addition,Mar,2024,Email,True,2022,False
3,Welcome,1,1,20 to 24 years,Richmond,Aug,2022,Email,True,2022,False
4,Senior,0,0,65 to 74 years,Sunset,Mar,2024,Print,False,2023,False

In [3]:
df.tail()

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
450354,Digital Access Card,0,0,35 to 44 years,Ingleside,Null,Null,Email,False,2023,Null
450355,Digital Access Card,0,0,45 to 54 years,Ingleside,Aug,2022,Print,False,2022,Null
450356,Digital Access Card,0,0,25 to 34 years,Ingleside,Aug,2022,Print,False,2022,Null
450357,Digital Access Card,0,0,35 to 44 years,Ingleside,Apr,2022,Print,False,2022,Null
450358,Digital Access Card,0,0,65 to 74 years,Bayview,Apr,2023,Email,False,2023,Null

In [5]:
#die ersten 100 Zeilen anzeigen lassen
df.head(100)

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,Senior,5,0,75 years and over,Main,Nov,2022,Email,True,2015,False
1,Adult,0,0,45 to 54 years,Main,Jul,2023,Email,True,2019,False
2,Adult,0,0,55 to 59 years,Western Addition,Mar,2024,Email,True,2022,False
3,Welcome,1,1,20 to 24 years,Richmond,Aug,2022,Email,True,2022,False
4,Senior,0,0,65 to 74 years,Sunset,Mar,2024,Print,False,2023,False
...,...,...,...,...,...,...,...,...,...,...,...
95,Senior,81,37,75 years and over,Main,Jun,2023,Email,True,2003,False
96,Senior,0,0,65 to 74 years,Main,Oct,2023,Null,False,2022,False
97,Senior,0,0,65 to 74 years,Main,Mar,2024,Email,True,2019,False
98,Senior,0,0,65 to 74 years,Main,Mar,2024,Email,True,2023,False
99,Senior,1,0,75 years and over,Main,Mar,2020,Email,True,2015,False

In [7]:
#alle Spalten miteinbeziehen
df.describe(include='all')

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
count,450359,450359.000000,450359.000000,450359,450359,450359,450359,450359,450359,450359.000000,450359
unique,17,NaN,NaN,11,30,13,22,4,2,NaN,3
top,Adult,NaN,NaN,25 to 34 years,Main,Mar,2024,Email,True,NaN,True
freq,284671,NaN,NaN,95278,145932,150957,190236,409071,408532,NaN,377329
mean,NaN,155.218053,78.968929,NaN,NaN,NaN,NaN,NaN,NaN,2016.094902,NaN
std,NaN,526.242567,305.915233,NaN,NaN,NaN,NaN,NaN,NaN,6.278639,NaN
min,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN
25%,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,2012.000000,NaN
50%,NaN,7.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000,NaN
75%,NaN,74.000000,36.000000,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN
max,NaN,39743.000000,12730.000000,NaN,NaN,NaN,NaN,NaN,NaN,2023.000000,NaN

In [8]:
print(df.min())
print(df['Total Renewals'].min())

Patron Type Definition                 Adult
Total Checkouts                            0
Total Renewals                             0
Age Range                       0 to 9 years
Home Library Definition                 Anza
Circulation Active Month                 Apr
Circulation Active Year                 2004
Notice Preference Definition           Email
Provided Email Address                 False
Year Patron Registered                  2003
Within San Francisco County            False
dtype: object
0

In [9]:
#Spalten werden mit sum aufaddiert
df['Total Renewals'].sum()
df['Total Renewals'].between(100, 200).sum()

25835

In [11]:
#fehlende Werte im Datensatz bei Age Range
df["Age Range"].isna().sum()

0

In [12]:
len(df[(df['Age Range'] == '60 to 64 years') & (df['Circulation Active Year'] == 2016)])

0